/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Fivo Sans';
  src: url("../fonts/fivosansmodern-bold-webfont.woff2") format("woff2"), url("../fonts/fivosansmodern-bold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Fivo Sans';
  src: url("../fonts/fivosansmodern-regular-oblique-webfont.woff2") format("woff2"), url("../fonts/fivosansmodern-regular-oblique-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Fivo Sans';
  src: url("../fonts/fivosansmodern-regular-webfont.woff2") format("woff2"), url("../fonts/fivosansmodern-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
#site.homepage:after {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/svgs/blind-01.svg);
  background-position: top center;
  z-index: 10;
  background-size: contain;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transition: transform ease 0.5s;
  -webkit-transition: transform ease 0.5s;
  transform-origin: top center; }
#site.homepage header {
  color: #fff;
  transition: color ease 0.5s;
  -webkit-transition: color ease 0.5s;
  background-color: transparent; }
#site.homepage #projects_container {
  pointer-events: none; }

#site.blinds_open.homepage #projects_container {
  pointer-events: auto; }
#site.blinds_open:after {
  transform: scale(1, 0);
  -webkit-transform: scale(1, 0); }
#site.blinds_open header {
  color: #000; }
#site.blinds_open #curtain {
  opacity: 0; }
  #site.blinds_open #curtain img {
    top: 100%;
    transition: top ease 0.5s;
    -webkit-transition: top ease 0.5s; }
  #site.blinds_open #curtain:before {
    transform: scale(1, 2);
    -webkit-transform: scale(1, 2); }
#site #curtain_handle:hover {
  cursor: grab; }
#site #curtain_handle:active {
  cursor: grabbing; }
#site #curtain {
  opacity: 1;
  transition: opacity ease 0.5s 0.9s;
  -webkit-transition: opacity ease 0.5s 0.9s;
  position: fixed;
  width: 2.5rem;
  top: calc(50% - 2rem);
  right: 1rem;
  z-index: 12;
  bottom: 0;
  height: calc(50vh + 2rem); }
  #site #curtain img {
    height: 4rem;
    width: 2.5rem;
    position: absolute;
    top: 0;
    right: 0rem;
    /*transform: translateY(-50%);
    -webkit-transform: translateY(-50%);*/ }
  #site #curtain:before {
    content: '';
    position: fixed;
    top: -1px;
    right: 2.15rem;
    width: 0.25rem;
    height: calc(50vh + 1rem);
    background-color: black;
    border: 2px solid #fff;
    box-sizing: border-box;
    z-index: -1;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform-origin: top center;
    transition: transform ease 0.5s;
    -webkit-transition: transform ease 0.5s; }

html {
  font-size: 22px; }

#site {
  font-family: 'Fivo Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.2em;
  color: #000; }
  #site #site_credits {
    font-size: 0.65rem; }
  #site a:link,
  #site a:visited {
    color: #000;
    text-decoration: none; }
  #site a:hover {
    text-decoration: underline; }
  #site.homepage header {
    z-index: 11; }
  #site.scrolling {
    background-color: #000; }
    #site.scrolling header {
      text-shadow: 0rem 0rem 0.2rem #fff; }
  #site header {
    position: fixed;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
    left: 0;
    width: 100%;
    z-index: 10; }
  #site .cell {
    display: inline-block;
    vertical-align: top;
    margin: 0 1.5rem; }
  #site .quarter {
    width: calc(25% - 3rem); }
  #site .half {
    width: calc(50% - 3rem); }
  #site #projects_container {
    margin-top: 4rem; }
    #site #projects_container .cell {
      margin-bottom: 1rem; }
      #site #projects_container .cell a:hover {
        position: relative;
        z-index: 11;
        color: #fff;
        text-shadow: 0rem 0rem 0.2rem #000; }
      #site #projects_container .cell a:hover + .image_container {
        opacity: 1;
        transform: translate(-50%, -50%) rotateY(0deg);
        background-color: #000;
        /*&.fade{
          transition: opacity ease 0.4s;
        }
        &.expand{
          transition: transform ease 0.5s;
        }
        &.wipe_down,
        &.wipe_up{
          &:after{
            height: 0;
            transition: height ease 0.4s;  
          }
        }
        &.wipe_left,
        &.wipe_right{
          &:after{
            width: 0;
            transition: width ease 0.7s;  
          }
        }*/ }
  #site .image_container {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, -50%);
    z-index: 10;
    height: 100vh;
    opacity: 0;
    transition: opacity ease 0.25s, background-color ease 0.25s;
    /*&.fade{
    }
    &.expand{
      transform: translate(-50%, -50%) rotateY(90deg); 
    }
    &.wipe{
      &:after{
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        background-color: #fff;
      }
      &.wipe_down,
      &.wipe_up{
        &:after{
          left: 0
        }
      }

      &.wipe_down:after{
        bottom: 0;
      }

      &.wipe_up:after{
        top: 0;
      }

      &.wipe_left:after{
        left: 0;
      }

      &.wipe_right:after{
        right: 0;
      }
    }*/ }
    #site .image_container img {
      position: absolute;
      max-width: 80%;
      max-height: 60%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1; }

#site footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 100; }
#site.project_page header {
  background-color: transparent;
  padding-bottom: 2rem; }
#site.hide_nav header,
#site.hide_nav #slide_counter,
#site.hide_nav .slide_controls {
  opacity: 0;
  transition: opacity ease 0.5s; }
  #site.hide_nav header:hover,
  #site.hide_nav #slide_counter:hover,
  #site.hide_nav .slide_controls:hover {
    opacity: 1; }
#site.show_footer footer {
  opacity: 1; }
#site.gallery_open header {
  opacity: 1; }
#site.gallery_open footer {
  opacity: 1;
  z-index: 100; }
#site.gallery_open #gallery_container {
  transform: translateY(0); }
#site.gallery_open #open_gallery:before {
  content: "Close"; }
#site .slideshow_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
#site .slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  border-top: 3rem solid #fff;
  border-bottom: 3rem solid #fff;
  border-left: 15vw solid #fff;
  border-right: 15vw solid #fff;
  box-sizing: border-box;
  transition: background-color ease 0.25s, border ease 0.25s; }
  #site .slide.current {
    z-index: 50;
    opacity: 1; }
    #site .slide.current:hover {
      background-color: #000;
      border-color: #000; }
#site .slide_controls {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 15%;
  z-index: 50;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 1;
  transition: opacity ease 0.5s; }
  #site .slide_controls:hover {
    opacity: 1;
    cursor: pointer; }
  #site .slide_controls svg {
    position: absolute;
    width: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); }
  #site .slide_controls#slide_prev {
    left: 0; }
    #site .slide_controls#slide_prev svg {
      left: 2rem; }
  #site .slide_controls#slide_next {
    right: 0; }
    #site .slide_controls#slide_next svg {
      right: 2rem; }
#site #open_gallery {
  opacity: 1; }
  #site #open_gallery:before {
    content: "Gallery"; }
  #site #open_gallery:hover:before {
    text-decoration: underline;
    cursor: pointer; }
#site #project_sub_gallery {
  margin-top: 4rem; }
  #site #project_sub_gallery img {
    width: 100%; }
  #site #project_sub_gallery .cell {
    margin-bottom: 3rem; }
#site #gallery_container {
  position: fixed;
  padding-top: 4rem;
  padding-bottom: 4rem;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 90;
  background-color: #fff;
  overflow-y: scroll;
  transform: translateY(100%);
  transition: transform ease 0.5s; }
  #site #gallery_container .cell.selected span,
  #site #gallery_container .cell:hover span {
    display: block;
    position: absolute;
    bottom: -1.35rem;
    left: 0rem; }
  #site #gallery_container .cell.selected img,
  #site #gallery_container .cell:hover img {
    /*transform: scale(1.015);*/
    /*transform-origin: bottom right;*/
    /*box-shadow: 0.15rem 0.15rem 0 #000;*/
    /*cursor: pointer;*/ }
  #site #gallery_container .cell {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 3rem; }
    #site #gallery_container .cell span {
      display: none; }
  #site #gallery_container img {
    width: 100%;
    display: block;
    /*box-shadow: 0 0 0;*/
    /*transition: transform ease 0.2s, box-shadow ease 0.2s;*/ }
#site.side_scroll {
  height: 400vh; }
#site #project_side_scroll_container {
  /*overflow: hidden;*/
  position: fixed;
  top: 3rem;
  left: 1.5rem;
  right: 1.5rem;
  white-space: nowrap;
  margin: 0;
  box-sizing: border-box;
  width: auto;
  transform: translateX(0);
  height: calc(100vh - 4rem);
  overflow: hidden; }
  #site #project_side_scroll_container figure {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: calc(100vh - 6rem);
    width: auto;
    text-align: center; }
    #site #project_side_scroll_container figure img {
      display: block;
      height: 100%;
      margin: 0 0.75rem 0 0; }
    #site #project_side_scroll_container figure figcaption {
      font-size: 0.65rem;
      position: absolute;
      bottom: -1rem; }
#site .scrolling_image {
  width: 100%;
  display: block; }
  #site .scrolling_image img {
    display: block;
    width: 100%; }

/*# sourceMappingURL=main.css.map */
